.boardsListWrapper {
  display: flex;
  height: calc(100vh - 56px);
  background-color: whitesmoke;


  .boardsList {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding-top: 10px;
    align-content: flex-start;

    .board {
      height: 200px;
      width: 300px;
      margin: 30px 20px 0 0;
      border-radius: 6px;
    }
  } /* boardList */

  .rankingBar {
    overflow-y: scroll;

    .rankingCard {
      margin-top: 10px;
    }
  }
} /* .boardsListWrapper */
